@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@theme {
  --color-background: #edede9;
  --color-foreground: #edf6f9;
  --color-primary: #1ab394;
}

@layer base {
  html {
    @apply scroll-smooth;
  }

}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  margin-top: 10rem;

  @media (width >= 640px) {
    max-width: 640px;
  }
  @media (width >= 768px) {
    max-width: 768px;
  }
  @media (width >= 1024px) {
    max-width: 1024px;
  }
  @media (width >= 1280px) {
    max-width: 1280px;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}
@utility container-large {
  margin-inline: auto;
  padding-inline: 2rem;
  margin-top: 7rem;

  @media (width >= 640px) {
    max-width: 640px;
  }
  @media (width >= 768px) {
    max-width: 768px;
  }
  @media (width >= 1024px) {
    max-width: 1024px;
  }
  @media (width >= 1280px) {
    max-width: 1580px;
  }
  @media (width >= 1400px) {
    width: 700px;
  }
}

@utility text-glow {
  @apply relative;
  text-shadow: 0 0 10px rgba(167, 139, 250, 0.5);
}
@utility card-shadow {
  @apply relative;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
}



@utility card-hover {
  @apply transition-transform duration-300 hover:scale-[1.02] hover:shadow-lg;
}


#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-family: open-sans,sans-serif;
 
}
body{
  background-color: aliceblue;
}